@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: local('fonts/Inter'), format('woff2');
}

.force-white-text {
  color: white !important;
}
