@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.force-white-text {
		color: rgb(var(--color-white)) !important;
	}

	.bg-gradient-primary {
		background-image: linear-gradient(to right, var(--gradient-primary));
	}
}

@layer base {
	body {
		transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
		background-image: linear-gradient(to bottom right, var(--background-gradient));
	}

	html {
		color-scheme: dark;
		--background-gradient: theme('colors.neutral.900'), theme('colors.slate.900');
		--gradient-primary: theme('colors.cyan.500'), theme('colors.green.500');

		--color-white: 255 255 255;
		--color-black: 0 0 0;

		/* Tailwind gray 950 -> 950  */
		--color-base-50: 249 250 251;
		--color-base-100: 243 244 246;
		--color-base-200: 229 231 235;
		--color-base-300: 209 213 219;
		--color-base-400: 156 163 175;
		--color-base-500: 107 114 128;
		--color-base-600: 75 85 99;
		--color-base-700: 55 65 81;
		--color-base-800: 31 41 55;
		--color-base-900: 17 24 39;
		--color-base-950: 3 7 18;

		/* Tailwind green 950 -> 50  */
		--color-primary-50: 240 253 244;
		--color-primary-100: 220 252 231;
		--color-primary-200: 187 247 208;
		--color-primary-300: 134 239 172;
		--color-primary-400: 74 222 128;
		--color-primary-500: 34 197 94;
		--color-primary-600: 22 163 74;
		--color-primary-700: 21 128 61;
		--color-primary-800: 22 101 52;
		--color-primary-900: 20 83 45;
		--color-primary-950: 5 46 22;
	}

	html.light {
		color-scheme: light;
		--background-gradient: theme('colors.neutral.100'), theme('colors.slate.100');
		--gradient-primary: theme('colors.cyan.600'), theme('colors.green.600');

		--color-white: 0 0 0;
		--color-black: 255 255 255;

		/* Tailwind gray 950 -> 50 */
		--color-base-950: 249 250 251;
		--color-base-900: 243 244 246;
		--color-base-800: 229 231 235;
		--color-base-700: 209 213 219;
		--color-base-600: 156 163 175;
		--color-base-500: 107 114 128;
		--color-base-400: 75 85 99;
		--color-base-300: 55 65 81;
		--color-base-200: 31 41 55;
		--color-base-100: 17 24 39;
		--color-base-50: 3 7 18;

		/* Tailwind green 950 -> 50  */
		--color-primary-950: 240 253 244;
		--color-primary-900: 220 252 231;
		--color-primary-800: 187 247 208;
		--color-primary-700: 134 239 172;
		--color-primary-600: 74 222 128;
		--color-primary-500: 34 197 94;
		--color-primary-400: 22 163 74;
		--color-primary-300: 21 128 61;
		--color-primary-200: 22 101 52;
		--color-primary-100: 20 83 45;
		--color-primary-50: 5 46 22;
	}

	#nprogress .bar {
		@apply bg-primary-600;
	}
}
