@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
	.force-white-text {
		color: rgb(var(--color-white)) !important;
	}

	.bg-gradient-primary {
		background-image: linear-gradient(to right, var(--gradient-primary));
	}
}

#nprogress .bar {
	@apply bg-green-500 !important;
}


@layer base {
	body {
		transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
		background-image: linear-gradient(to right, var(--background-gradient));
	}

	html {
		color-scheme: dark;
		--background-gradient: theme('colors.stone.950'), theme('colors.slate.900');
		--gradient-dark: theme('colors.neutral.950'), theme('colors.slate.950');
		--gradient-primary: theme('colors.cyan.500'), theme('colors.green.500');

		--color-white: 255 255 255;
		--color-black: 0 0 0;
		--color-accent-muted: 107 114 128;
		--color-accent-bright: 243 244 246;

		/* Tailwind gray 950 -> 950  */
		--color-base-50: 249 250 251;
		--color-base-100: 243 244 246;
		--color-base-200: 229 231 235;
		--color-base-300: 209 213 219;
		--color-base-400: 156 163 175;
		--color-base-500: 107 114 128;
		--color-base-600: 75 85 99;
		--color-base-700: 55 65 81;
		--color-base-800: 31 41 55;
		--color-base-900: 17 24 39;
		--color-base-950: 3 7 18;
	}

	html.light {
		color-scheme: light;
		--background-gradient: theme('colors.neutral.100'), theme('colors.slate.100');
		--gradient-primary: theme('colors.cyan.600'), theme('colors.green.600');

		--color-white: 0 0 0;
		--color-black: 255 255 255;
		--color-accent-muted: 107 114 128;
		--color-accent-bright: 0 0 0;

		/* Tailwind gray 950 -> 50 */
		--color-base-950: 249 250 251;
		--color-base-900: 243 244 246;
		--color-base-800: 229 231 235;
		--color-base-700: 209 213 219;
		--color-base-600: 156 163 175;
		--color-base-500: 107 114 128;
		--color-base-400: 75 85 99;
		--color-base-300: 55 65 81;
		--color-base-200: 31 41 55;
		--color-base-100: 17 24 39;
		--color-base-50: 3 7 18;
	}
}
